* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #304b5f;
  padding: 20px;
}

.wrapper {
  background: #fff;
  padding: 25px;
  max-width: 460px;
  width: 100%;
  border-radius: 3px;
}

.item {
  background: #304b5f;
  color: #fff;
  display: flex;
  padding: 12px 17px;
  margin-bottom: 8px;
  align-items: center;
  justify-content: space-between;
}

.text {
  font-size: 18px;
  font-weight: 400;
}

.item i {
  font-size: 18px;
  cursor: pointer;
}
