* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #121212;
}

h1 {
  color: darkgray;
  text-align: center;
  margin-bottom: 50px;
  font-size: 2.8em;
  font-weight: 800;
}

.btn {
  position: relative;
  text-align: center;
  cursor: pointer;
}

.btn span {
  position: relative;
  display: inline-block;
  color: white;
  font-size: 1.2em;
  font-weight: 500;
  text-decoration: none;
  width: 240px;
  padding: 18px 0;
  margin: 35px;
  border-radius: 8px;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  transition: transform 0.15s linear;
}

.color-01 span {
  background: linear-gradient(90deg, #ec5c1a, #f6ce61);
}

.color-02 span {
  background: linear-gradient(90deg, #0165cd, #55e6fb);
}

.color-03 span {
  background: linear-gradient(90deg, #259844, #6ff192);
}
